@page "/password/add"
@using Microsoft.AspNetCore.Authorization;
@using PasswordManagerBlazor.Shared.Models;
@using PasswordManagerBlazor.Shared.DTOs;
@attribute [Authorize]
@inject NavigationManager navigationManager
@inject HttpClient httpClient

<head>
    <meta charset="UTF-8">
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/alerts.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <EditForm Model="@password" OnValidSubmit="@HandleValidSubmit">
            <h2>Add new password</h2>
            <br>
            <div class="form-group">
                <InputText id="email" class="form-control" @bind-Value="@password.Email" placeholder="Login" />
            </div>
            <div class="form-group">
                <InputText id="url" class="form-control" @bind-Value="@password.Url" placeholder="Website url" />
            </div>
            <div class="form-group">
                <InputText id="passwordHash" class="form-control" @bind-Value="@password.PasswordHash" placeholder="Password" />
            </div>
            <div class="form-group">
                Sugested password:
                <i>@strongPass</i>
            </div>
            <br>
            <div class="form-group">
                <button>Submit</button>
            </div>
        </EditForm>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Need to use other passwords?</h1>
                <p>Go back to main page:</p>
                <button class="ghost" id="signUp" @onclick="GoToHome" value="Home">Home</button>
            </div>
        </div>
    </div>
</div>

#blazor-error-ui {
    display: none;
}
@code {
    private PasswordModel password = new PasswordModel();
    private string strongPass = "we suggest";

    private async Task HandleValidSubmit()
    {
        PasswordDto passwordDto = new PasswordDto();
        passwordDto.Email = password.Email;
        passwordDto.Url = password.Url;
        passwordDto.PasswordHash = password.PasswordHash;

        var response = await httpClient.PostAsJsonAsync("api/password", passwordDto);

        if (response.IsSuccessStatusCode)
        {
            // Dodaj logikę po udanym dodaniu hasła, np. przekierowanie do innej strony
            navigationManager.NavigateTo("/index");
        }
        else
        {
            // Dodaj logikę w przypadku błędu, np. wyświetl alert
        }
    }

    private void GoToHome()
    {
        navigationManager.NavigateTo("/index");
    }
}

